[[source]]
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
